*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
background-color:#21212E;
font-family: 'Roboto', sans-serif;
}
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
nav .icon{
    font-weight:500;
    font-size: 1.5rem;
    margin-left: 50px;
}
nav .items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    
    
}
nav .items li{
    list-style: none;
}
nav .items a{
    font-size: 0.9rem;
    text-decoration: none;
    color: #686464;
    
}
nav .items a:hover{
    color: #46C2FF;
    cursor: pointer;
}
.ham{
    display: none;
    margin-right:20px ;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.ham:hover{
    transform: rotate(360deg);
}
.ham_items{
    display:none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}
.ham_items li{
    list-style: none;
    margin: 10px 0px;
}
.ham_items a{
    text-decoration: none;
    color: white
}
.ham_items a:hover{
    color: #46C2FF;
    cursor: pointer;
}
.home{
    display: flex;
    height: 70vh;
    justify-content:space-between;
    
}
.music{
   display: flex;
   flex-direction: column;
   color: white;
   justify-content: center;
   align-items: center;
   margin-left: 100px;

}
.music h1{
    width: 350px;
    font-size: 3rem;
    margin: 0px auto;
    text-align: left;
    font-weight: 500;
}
.music p{
    margin-top: 10px;
    width: 350px;
   font-size: 0.8rem;
   color: #686464;
   letter-spacing: 1px;
   text-align: left;
   font-weight: 300;
}
.music .buttons_store{
    display: flex;
    
}
.buttons_store img{
    width: 200px;
    
}
.buttons_store img:hover{
    transform: scale(1.2);
}
.phone_img{
   width: 50vw;
    display: flex;
    position: relative;
   align-items: center;
   
    
    
}
.phone_img img{
    width: 400px;
   
  }

  .left{
      position: absolute;
      top:20px ;
      height:600px ;
    
  }
  .top{
      position: absolute;
      top: 0px;
      left: 100px;
      z-index: 50;
      height: 640px;
  }
  .rigth{
      position: absolute;
      top: 20px;
      left: 210px;
      height: 600px;
  }
  #text{
      font-size: 1.2rem;
      color: white;
      font-weight: 300;
      margin: 50px 0px;
  }
  .text2 h1{
      margin: 100px 0px;
      font-weight: 300;
  }
  .home2{
      margin: 150px 0px;
  }
  .colour-left,.colour-rigth{
     
      width: 250px;
      height: 470px;
      border-radius: 30px;
    
  }
  .colour-left{
    transform: rotate(20deg);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(128,128,167,1) 0%, rgba(0,212,255,1) 100%);
  }
  .colour-rigth{
    transform: rotate(-20deg); 
   background-image:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,0,255,1) 0%, rgba(222,13,207,1) 80%);
  }
  .left1,.rigth1{
      position: absolute;
      top: 80px;
      left: 180px;
  }
 
 /*------------------------------------------------*/

.col-md-3{
    display: inline-block;
    margin-left:4px;
  }
  .col-md-3 img{
    width:300px;
    height:500px;
  }
 .carousel-indicators li{
    background-color: #46C2FF;
  }
 
  
  .col-md-3{
      margin: 20px;
  }
  /*---------------------------------------------*/
  .text{
      color: white;
      font-size: 2rem;
      width: fit-content;
      margin: 0px auto;
      font-weight: 300;
      }
      .middle2{
          align-items: flex-start;
          color: white;
      }
  .middle2 button{
    color: white;
    margin-top: 10px;
     padding:10px 50px;
     border-radius: 5px;
     border: none;
     outline: none;
     background-color: #46C2FF;
 
  }
  .middle2 button:hover{
    transform: scale(1.1);

  }
  .boxes{
      color: white;
      display: flex;
     width: 50%;
  }
  .box1,.boxtop,.boxbottom{
      width: 250px;
      height: 250px;
      background-color:#262630;
       display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      box-shadow: 2px 6px 41px -3px rgba(0,0,0,0.75)
    }
  h4{
      font-size: 1rem;
      font-weight: 200;
  }
  .box1{
      margin-right: 20px;
      transform: translateY(122px);
  }
   p{
    font-size: 0.8rem;
    color: #686464;
    font-weight: 300;
  }
  .boxtop{
      margin-bottom: 20px;
     
  }
  .box2{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    
     
  }
  .reviews{
      padding-top: 35px;
      display: flex;
      color: white;
      justify-content: space-around;
  }
  .view{
      width: 300px;
      height: 250px;
      box-shadow: 2px 6px 41px -3px rgba(0,0,0,0.75);
      background-color:#262630;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      margin: 5px;
  }
  .view img{
      margin: 10px;
  }

  .sub{
      margin-top: 150px;
      display: flex;
      color: white;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100px;
      background-color:#2f2f3d;
      

  }
  .sub .sub_text{
      font-size: 1.3rem;
      font-weight: 300;

  }
  .sub button{
    color: white;
    margin-top: 10px;
     padding:10px 70px;
     border-radius: 5px;
     border: none;
     outline: none;
     background-color: #46C2FF;
 
  }
  .sub button:hover{
    transform: scale(0.9);
}
.sub input{
    margin-right: 10px;
    padding: 9px 150px;
    border-radius: 50px;
     border: none;
     outline: none;
}
footer{
    margin-top: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    color: white;
}
footer .sen {
    font-size: 0.8rem;
    width: 350px;
}


@media(max-width:1240px){
    .reviews{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
       
    }
    .text2 h1,#text{
        text-align: center;
    }
    nav .icon{
        margin: 20px;
    }
   
    
}
@media(max-width:1128px){
    .phone_img img{
        width: 300px;
        }
        .left,.rigth{
            height: 500px;
        }
        .top{
            height: 540px;
        }
        .colour-left,.colour-rigth{
            width:160px;
            height: 390px;
        }
        .box1{
            transform: translateY(0px);
            margin:0px;
        }
        .box2{
            margin: 20px 0px;
            
        }
        .boxes{
            flex-direction: column;
            align-items: center;
                  }
        .home3{
             display: flex;
             flex-direction: column;
             height: fit-content;
             justify-content: space-around;
             align-items: center;
             margin-bottom: 50px;
        }
        .middle2{
            align-items: center;
            margin-bottom: 20px;
        }
        .music{
            margin: 50px;
        }
    
}

@media(max-width:992px){
   .sub {
        flex-direction: column;
    }
    .home{
        flex-direction: column;
        align-items: center;
        height: fit-content;
        
    }
    .music h1,.music p{
      
        text-align: center;
    }
    .music p{
        font-size: 1rem;
    }
    .phone_img{
        
        height: fit-content;
        margin-bottom: 100px;
    }
    .home2{
        margin-bottom: 500px;
    }
}
@media(max-width:820px){
    .col-md-3 img{
        width:250px;
        height:400px;
       
      }
      .phone_img img{
        width: 250px;
        }
        .left,.rigth{
            height: 350px;
        }
        .top{
            height: 400px;
            left: 90px;
        }
        
        .colour-left,.colour-rigth{
            position: absolute;
            left: 150px;
            top:50px;
            width:140px;
            height: 300px;
        }
}
@media(max-width:800px){
    #hidden{
        display: none;
    }
    .left{
        top:0px;
        left: -25px;
    }
    .sub{
        height: fit-content;
    }
    .sub button{
        margin-bottom: 10px;
    }
    .top{
        top:-20px;
        left:25px;
    }
    .rigth{
        top:0px;
        left: 85px;

    }
    .top2{
        height: 400px;
            left: 90px;
    }
    .sub_input{
        display: flex;
        flex-direction: column;
        
    }
    .col-md-3{
        margin-right: 50px;
    }
    
}
@media(max-width:638px){
   
    .colour-left,.rigth1{
        display: none;
    }
    .top2{
        left: 0px;
    }
    .col-md-3 img{
        margin-left:90px;
    }
    footer{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    footer .sen{
        text-align: center;
    }
    footer .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center

    }
}
@media(max-width:525px){
    nav .items{
        display: none;
    }
    .ham{
        display: block;
    }
    .sub button{
        padding: 10px 20px;
    }
    .sub input{
        padding: 9px 50px;
    }
    .left{
        top:0px;
        left: -65px;
    }
    .top{
        top:-20px;
        left:5px;
    }
    .rigth{
        top:0px;
        left: 75px;

    }
    .col-md-3 img{
        margin-left:30px;
    }
}
@media(max-width:420px){
    .left{
        top:0px;
        left: -75px;
    }
    .top{
        top:-20px;
        left:-30px;
    }
    .rigth{
        top:0px;
        left: 35px;

    }

}
